Repository woowa-techcamp-2020/bmart-9, pull requests merged in 2020-08, with the labels that each got.

#4 Env/1/client env setting
  .prettierrc
  .vscode/settings.json
  client/.gitignore
  client/README.md
  client/jest.config.js
  client/next-env.d.ts
  client/package-lock.json
  client/package.json
  client/scripts/create_react_component.sh
  client/src/App.css
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/components/Counter/Counter.test.tsx
  client/src/components/Counter/Counter.tsx
  client/src/components/Counter/index.ts
  client/src/components/Counter/styled.ts
  client/src/index.css
  client/src/index.tsx
  client/src/pages/counter.tsx
  client/src/pages/index.tsx
  client/tsconfig.json
Labels: client, environment

#13 Env/5/server env
  server/.gitignore
  server/jest.config.js
  server/package-lock.json
  server/package.json
  server/sample.env
  server/src/app.ts
  server/src/errors/Insufficient-body.ts
  server/src/errors/authenticate-error.ts
  server/src/errors/custom-error.ts
  server/src/errors/database-error.ts
  server/src/index.ts
  server/src/middlewares/validate-body.ts
  server/src/repository/index.ts
  server/src/repository/user-repository.ts
  server/src/routes/__test__/user-routes.test.ts
  server/src/routes/index.ts
  server/src/routes/user-routes.ts
  server/src/service/index.ts
  server/src/service/user-service.ts
  server/src/utils/db-connection-handler.ts
  server/src/utils/promise-handler.ts
  server/src/utils/query-executor.ts
  server/tsconfig.json
Labels: environment, server

#16 Auth/15/server api
  server/src/app.ts
  server/src/middlewares/decode-jwt.ts
  server/src/repository/user-repository.ts
  server/src/routes/auth-routes.ts
  server/src/routes/index.ts
  server/src/service/auth-service.ts
  server/src/utils/db-connection-handler.ts
  server/src/utils/error-handler.ts
  server/src/utils/passport.ts
  server/src/utils/promise-handler.ts
  server/src/utils/query-executor.ts
  server/tsconfig.json
Labels: api, database, server

#18 Style/17/styled setup
  client/.babelrc
  client/package-lock.json
  client/package.json
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/styles/GlobalStyle.tsx
Labels: bug, client, environment

#20 Feat/10/card components
  client/package-lock.json
  client/package.json
  client/src/components/Card/Card.tsx
  client/src/components/Card/CardStyle.ts
  client/src/components/Card/index.ts
  client/src/components/CardContent/CardContent.test.tsx
  client/src/components/CardContent/CardContent.tsx
  client/src/components/CardContent/CardContentStyle.ts
  client/src/components/CardContent/index.ts
  client/src/components/CardImg/CardImg.tsx
  client/src/components/CardImg/CardImgStyle.ts
  client/src/components/CardImg/index.ts
  client/src/pages/card.tsx
  client/src/pages/index.tsx
Labels: client, component

#19 Feature/12/horizontal bar
  .gitignore
  client/src/components/HorizontalBar/HorizontalBar.test.tsx
  client/src/components/HorizontalBar/HorizontalBar.tsx
  client/src/components/HorizontalBar/HorizontalBarStyle.ts
  client/src/components/HorizontalBar/index.ts
  client/src/pages/horizontal.tsx
Labels: client, component

#21 Feature/9/프로덕트 카드 컴포넌트 및 Horizontal Card 컴포넌트 생성
  client/src/components/Card/Card.tsx
  client/src/components/Card/CardStyle.ts
  client/src/components/CardContent/CardContent.tsx
  client/src/components/HorizontalCardSet/HorizontalCardSet.test.tsx
  client/src/components/HorizontalCardSet/HorizontalCardSet.tsx
  client/src/components/HorizontalCardSet/HorizontalCardSetStyle.ts
  client/src/components/HorizontalCardSet/index.ts
  client/src/pages/card.tsx
Labels: client, component

#37 [#36] feat. Localization
  client/src/components/CartItem/CartItem.tsx
  client/src/pages/test1.tsx
  client/src/utils/localization.ts
Labels: environment

#23 Feat/10/카드 컴포넌트 디자인 수정 & 하트 아이콘 토글 기능 추가
  client/src/components/Card/Card.tsx
  client/src/components/Card/CardStyle.ts
  client/src/components/CardContent/CardContent.tsx
  client/src/components/CardContent/CardContentStyle.ts
  client/src/components/CardImg/CardImg.tsx
  client/src/components/CardImg/CardImgStyle.ts
  client/src/components/HorizontalCardSet/HorizontalCardSet.test.tsx
  client/src/components/HorizontalCardSet/HorizontalCardSet.tsx
  client/src/components/HorizontalCardSet/HorizontalCardSetStyle.ts
  client/src/pages/card.tsx
  client/src/styles/GlobalStyle.tsx
Labels: client, component

#49 Feat/48/admin front to back
  client/.prettierrc
  client/.vscode/settings.json
  client/package-lock.json
  client/package.json
  client/scripts/create_context.sh
  client/src/api/bmart.ts
  client/src/api/category.ts
  client/src/api/index.ts
  client/src/components/CartItem/CartItem.tsx
  client/src/components/Counter/Counter.test.tsx
  client/src/components/Counter/Counter.tsx
  client/src/components/Counter/index.ts
  client/src/components/FileUploader/FileUploader.test.tsx
  client/src/components/FileUploader/FileUploader.tsx
  client/src/components/FileUploader/FileUploaderStyle.ts
  client/src/components/FileUploader/index.ts
  client/src/context/CategoryContext.tsx
  client/src/context/CounterContext.tsx
  client/src/hooks/useCategory.tsx
  client/src/hooks/useCounter.tsx
  client/src/pages/_app.tsx
  client/src/pages/admin.tsx
  client/src/pages/counter.tsx
  client/src/pages/index.tsx
  client/src/utils/createContext.tsx
  server/.prettierrc
  server/.vscode/settings.json
  server/package-lock.json
  server/package.json
  server/src/errors/invalid-params.ts
  server/src/middlewares/validate-body.ts
  server/src/repository/category-repository.ts
  server/src/repository/product-repository.ts
  server/src/routes/__test__/category-routes.test.ts
  server/src/routes/category-routes.ts
  server/src/routes/index.ts
  server/src/routes/product-routes.ts
  server/src/service/category-service.ts
  server/src/service/product-service.ts
  server/src/utils/crwaler.ts
  server/src/utils/query-executor.ts
  shared/category.ts
  shared/index.ts
  shared/product.ts
  shared/tsconfig.json
Labels: api, client, server

#44 Feature/43/product api
  client/src/api/index.ts
  client/src/components/CartItem/CartItemStyle.ts
  client/src/styles/GlobalStyle.tsx
  server/src/repository/product-repository.ts
  server/src/routes/product-routes.ts
  server/src/service/product-service.ts
  shared/product.ts
Labels: api, server

#51 Feature/50/api homework
  .gitignore
  client/src/api/index.ts
  client/src/api/product.ts
  client/src/components/CartItem/CartItem.tsx
  client/src/context/ProductContext.tsx
  client/src/hooks/useProduct.tsx
  client/src/pages/_app.tsx
  client/src/pages/admin.tsx
  client/src/pages/admin_andy.tsx
  client/src/pages/admin_bg.tsx
  client/src/pages/admin_cn.tsx
  client/src/pages/index.tsx
  server/src/repository/product-repository.ts
  server/src/routes/product-routes.ts
  shared/product.ts
Labels: api, client

#54 Feat/53/nextjs store setup
  client/src/context/CategoryContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useCategory.tsx
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/pages/admin_andy.tsx
  client/src/pages/admin_bg.tsx
  client/src/pages/admin_cn.tsx
  client/src/pages/index.tsx
Labels: client, environment

#60 Feat/59/authentication
  client/package.json
  client/scripts/create_context.sh
  client/src/api/bmart.ts
  client/src/api/index.ts
  client/src/api/user.ts
  client/src/components/Carousel/Carousel.tsx
  client/src/components/HorizontalCardSet/HorizontalCardSet.tsx
  client/src/components/SideMenu/SideMenu.tsx
  client/src/context/CategoryContext.tsx
  client/src/context/UserContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useCategory.tsx
  client/src/hooks/useUser.tsx
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/pages/auth/[token].tsx
  server/.gitignore
  server/package.json
  server/src/app.ts
  server/src/index.ts
  server/src/middlewares/decode-jwt.ts
  server/src/repository/user-repository.ts
  server/src/service/auth-service.ts
  server/src/urlConfig.ts
  server/src/utils/jwt.ts
  server/src/utils/passport.ts
  shared/index.ts
  shared/product.ts
  shared/user.ts
Labels: api, client, server

#63 Feat/57/메인페이지 헤더, 배너 추가
  client/src/components/Carousel/Carousel.tsx
  client/src/components/Carousel/CarouselStyle.ts
  client/src/components/CategoryContainer/CategoryContainer.test.tsx
  client/src/components/CategoryContainer/CategoryContainer.tsx
  client/src/components/CategoryContainer/CategoryContainerStyle.ts
  client/src/components/CategoryContainer/index.ts
  client/src/pages/index.tsx
Labels: component

#66 Feat/57/카테고리 컨테이너 컴포넌트 생성 및 배치
  client/src/api/image.ts
  client/src/components/CategoryContainer/CategoryContainer.tsx
  client/src/components/CategoryContainer/CategoryContainerStyle.ts
  client/src/pages/index.tsx
  server/src/repository/image-repository.ts
  server/src/routes/image-routes.ts
  server/src/service/image-service.ts
Labels: client, component

#70 Feat/67/category detail
  client/src/api/category.ts
  client/src/api/product.ts
  client/src/components/BoxCategory/BoxCategory.test.tsx
  client/src/components/BoxCategory/BoxCategory.tsx
  client/src/components/BoxCategory/BoxCategoryStyle.ts
  client/src/components/BoxCategory/index.ts
  client/src/components/Card/Card.tsx
  client/src/components/CategoryContainer/CategoryContainer.tsx
  client/src/components/Header/Header.tsx
  client/src/components/Header/HeaderStyle.ts
  client/src/components/HorizontalSlider/HorizontalSliderStyle.ts
  client/src/pages/_app.tsx
  client/src/pages/category/[id].tsx
  server/src/repository/product-repository.ts
  server/src/routes/product-routes.ts
  server/src/service/product-service.ts
  shared/product.ts
Labels: component

#72 [#71] feat : search 페이지 마크업
  client/src/components/Header/Header.tsx
  client/src/components/Search/Search.test.tsx
  client/src/components/Search/Search.tsx
  client/src/components/Search/SearchStyle.ts
  client/src/components/Search/index.ts
  client/src/pages/search.tsx
Labels: client, component

#73 Fix/hamburger
  client/src/components/Hamburger/Hamburger.test.tsx
  client/src/components/Hamburger/Hamburger.tsx
  client/src/components/Hamburger/HamburgerStyle.ts
  client/src/components/Hamburger/index.ts
  client/src/components/Header/Header.tsx
  client/src/components/Header/HeaderStyle.ts
  client/src/components/Search/SearchStyle.ts
  client/src/components/SideMenu/SideMenu.tsx
  client/src/components/SideMenu/SideMenuStyle.ts
Labels: bug, client, component

#76 Feat/71/search page
  client/package.json
  client/src/api/index.ts
  client/src/api/product.ts
  client/src/api/search.ts
  client/src/components/Header/Header.tsx
  client/src/components/Header/HeaderStyle.ts
  client/src/components/Search/Search.tsx
  client/src/components/Search/index.ts
  client/src/components/SearchBar/SearchBar.test.tsx
  client/src/components/SearchBar/SearchBar.tsx
  client/src/components/SearchBar/SearchBarStyle.ts
  client/src/components/SearchBar/index.ts
  client/src/components/SearchHistory/SearchHistory.test.tsx
  client/src/components/SearchHistory/SearchHistory.tsx
  client/src/components/SearchHistory/SearchHistoryStyle.ts
  client/src/components/SearchHistory/index.ts
  client/src/context/SearchContext.tsx
  client/src/context/UserContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useSearch.tsx
  client/src/hooks/useUser.tsx
  client/src/pages/search.tsx
  server/package.json
  server/src/repository/product-repository.ts
  server/src/repository/search-repository.ts
  server/src/routes/category-routes.ts
  server/src/routes/product-routes.ts
  server/src/routes/search-routes.ts
  server/src/service/product-service.ts
  server/src/service/search-service.ts
  server/src/urlConfig.ts
Labels: client, component, server

#78 Feature/77/code refactoring
  client/package-lock.json
  client/package.json
  client/src/api/cart.ts
  client/src/components/CartButton/CartButton.tsx
  client/src/components/CartButton/CartButtonStyle.ts
  client/src/components/CartItem/CartItem.tsx
  client/src/components/CartItem/CartItemStyle.ts
  client/src/components/Checkbox/Checkbox.test.tsx
  client/src/components/Checkbox/Checkbox.tsx
  client/src/components/Checkbox/CheckboxStyle.ts
  client/src/components/Checkbox/index.ts
  client/src/components/HorizontalBar/HorizontalBarStyle.ts
  client/src/context/CartContext.tsx
  client/src/hooks/useCart.tsx
  client/src/pages/cartPage.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/cartPageStyle.ts
  server/src/repository/cart-repository.ts
  server/src/routes/cart-routes.ts
  server/src/service/cart-service.ts
  shared/cart.ts
Labels: client, component

#84 Feat/80/auth hanlde
  client/src/components/Header/Header.tsx
  client/src/hooks/useProduct.tsx
  client/src/hooks/useUser.tsx
  client/src/images.ts
  client/src/pages/_app.tsx
  client/src/pages/cartPage.tsx
  client/src/pages/category/[id].tsx
  server/src/index.ts
  server/src/service/auth-service.ts
  server/src/urlConfig.ts
  server/src/utils/passport.ts
Labels: bug, client

#85 Feature/79/snackbar
  client/src/components/Checkbox/Checkbox.tsx
  client/src/components/Snackbar/Snackbar.test.tsx
  client/src/components/Snackbar/Snackbar.tsx
  client/src/components/Snackbar/SnackbarStyle.ts
  client/src/components/Snackbar/index.ts
  client/src/context/CartContext.tsx
  client/src/context/SnackbarContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useSnackbar.tsx
  client/src/pages/_app.tsx
  client/src/styles/GlobalStyle.tsx
  client/src/styles/cartPageStyle.ts
  shared/index.ts
  shared/snackbar.ts
Labels: client, component

#87 Feat/86/category dynamic routing
  client/src/api/category.ts
  client/src/components/BoxCategory/BoxCategory.tsx
  client/src/context/CategoryContext.tsx
  client/src/context/ProductContext.tsx
  client/src/pages/category/[id].tsx
  server/src/routes/category-routes.ts
  server/src/service/category-service.ts
Labels: client, component

#92 Feat/83/카드 컴포넌트 컨텐츠, 디자인 수정
  client/src/components/Card/CardStyle.ts
  client/src/components/CardContent/CardContent.tsx
  client/src/components/CardContent/CardContentStyle.ts
  client/src/components/CardImg/CardImg.tsx
  client/src/components/CardImg/CardImgStyle.ts
  client/src/components/CategoryContainer/CategoryContainerStyle.ts
  client/src/components/HorizontalSlider/HorizontalSliderStyle.ts
  client/src/styles/GlobalStyle.tsx
Labels: client, component

#95 Feat/94/fetch with next ssr
  client/package-lock.json
  client/package.json
  client/src/components/SearchHistory/SearchHistory.tsx
  client/src/hooks/useSearch.tsx
  client/src/hooks/useUser.tsx
  client/src/pages/search.tsx
  client/src/utils/cookieParser.ts
Labels: client

#98 Feat/27/ 6카드 컨테이너 컴포넌트 생성
  client/src/components/Card/Card.tsx
  client/src/components/Card/CardStyle.ts
  client/src/components/CardImg/CardImg.tsx
  client/src/components/CardImg/CardImgStyle.ts
  client/src/components/Carousel/CarouselStyle.ts
  client/src/components/FourCardsContainer/FourCardsContainer.tsx
  client/src/components/FourCardsContainer/FourCardsContainerStyle.ts
  client/src/components/HorizontalBar/HorizontalBar.tsx
  client/src/components/HorizontalSlider/HorizontalSlider.tsx
  client/src/components/SixCardsContainer/SixCardsContainer.test.tsx
  client/src/components/SixCardsContainer/SixCardsContainer.tsx
  client/src/components/SixCardsContainer/SixCardsContainerStyle.ts
  client/src/components/SixCardsContainer/index.ts
  client/src/pages/index.tsx
Labels: client, component

#102 Feat/27/두 줄로 정렬되는 카드 컨테이너 생성
  client/src/components/TenCardsContainer/TenCardsContainer.test.tsx
  client/src/components/TenCardsContainer/TenCardsContainer.tsx
  client/src/components/TenCardsContainer/TenCardsContainerStyle.ts
  client/src/components/TenCardsContainer/index.ts
  client/src/pages/index.tsx
Labels: client, component

#103 Feat/99/product detail
  client/src/api/product.ts
  client/src/components/BigCard/BigCard.tsx
  client/src/components/BigCard/BigCardStyle.ts
  client/src/components/BigCardImg/BigCardImg.tsx
  client/src/components/BigCardImg/BigCardImgStyle.ts
  client/src/components/BoxCategory/BoxCategoryStyle.ts
  client/src/components/Card/Card.tsx
  client/src/components/CardImg/CardImg.tsx
  client/src/components/CardImg/CardImgStyle.ts
  client/src/components/CategoryContainer/CategoryContainerStyle.ts
  client/src/components/FourCardsContainer/FourCardsContainer.tsx
  client/src/components/Header/Header.tsx
  client/src/components/IconButton/IconButtonStyle.ts
  client/src/components/SideMenu/SideMenu.tsx
  client/src/pages/index.tsx
  client/src/pages/product/[id].tsx
  server/src/repository/product-repository.ts
  server/src/routes/product-routes.ts
  server/src/service/product-service.ts
  shared/product.ts
Labels: client, component

#104 Feat/100/favorite
  client/package-lock.json
  client/package.json
  client/src/api/favorite.ts
  client/src/api/index.ts
  client/src/components/BigCard/BigCard.tsx
  client/src/components/BigCardImg/BigCardImg.tsx
  client/src/components/Card/Card.tsx
  client/src/components/CardImg/CardImg.tsx
  client/src/components/SideMenu/SideMenu.tsx
  client/src/context/FavoriteContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useCategory.tsx
  client/src/hooks/useFavorite.tsx
  client/src/hooks/useProduct.tsx
  client/src/hooks/useUser.tsx
  client/src/pages/category/[id].tsx
  client/src/pages/favorite.tsx
  server/package-lock.json
  server/package.json
  server/src/repository/cart-repository.ts
  server/src/repository/favorite-repository.ts
  server/src/repository/product-repository.ts
  server/src/routes/favorite-routes.ts
  server/src/routes/index.ts
  server/src/routes/search-routes.ts
  server/src/service/favorite-service.ts
  server/src/service/index.ts
  shared/favorite.ts
  shared/index.ts
Labels: api, client, component, server

#111 Fix/106/sidebar & Feat/101/socket
  client/package-lock.json
  client/package.json
  client/src/components/Header/Header.tsx
  client/src/components/SideMenu/SideMenuStyle.ts
  client/src/context/CounterContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useUser.tsx
  client/src/pages/_app.tsx
  client/src/pages/admin.tsx
  client/src/pages/admin_cn.tsx
  client/src/utils/getSocket.ts
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/socket.ts
Labels: bug, client, component, server

#115 Feat/101/admin main page
  client/src/components/BoxButton/BoxButton.tsx
  client/src/components/BoxButton/BoxButtonStyle.ts
  client/src/components/BoxButton/index.ts
  client/src/components/Carousel/Carousel.tsx
  client/src/components/Carousel/CarouselStyle.ts
  client/src/components/Header/Header.tsx
  client/src/components/OrderItem/OrderItem.tsx
  client/src/components/OrderItem/OrderItemStyle.ts
  client/src/components/OrderItem/index.ts
  client/src/components/OrderMap/OrderMap.tsx
  client/src/components/OrderMap/OrderMapStyle.ts
  client/src/components/OrderMap/index.ts
  client/src/components/SearchBar/SearchBar.tsx
  client/src/components/SmallBanners/SmallBanners.tsx
  client/src/components/SmallBanners/SmallBannersStyle.ts
  client/src/components/SmallBanners/index.ts
  client/src/hooks/useUser.tsx
  client/src/images.ts
  client/src/pages/_app.tsx
  client/src/pages/admin.tsx
  client/src/pages/admin/[id].tsx
  client/src/pages/admin/index.tsx
  client/src/pages/auth/[token].tsx
  client/src/pages/category/[id].tsx
  client/src/utils/getSocket.ts
  client/src/utils/socket.ts
  client/tsconfig.json
  server/src/app.ts
  server/src/index.ts
  server/src/repository/image-repository.ts
  server/src/routes/user-routes.ts
  server/src/service/auth-service.ts
  server/src/service/user-service.ts
  server/src/socket.ts
  server/src/utils/passport.ts
  shared/index.ts
  shared/order.ts
  shared/socket.ts
Labels: client, component, server

#108 Feat/27/카테고리별 상품 컨테이너 컴포넌트
  client/src/components/CategorizedCardContainer/CategorizedCardContainer.test.tsx
  client/src/components/CategorizedCardContainer/CategorizedCardContainer.tsx
  client/src/components/CategorizedCardContainer/CategorizedCardContainerStyle.ts
  client/src/components/CategorizedCardContainer/index.ts
  client/src/components/CategoryNavBar/CategoryNavBar.test.tsx
  client/src/components/CategoryNavBar/CategoryNavBar.tsx
  client/src/components/CategoryNavBar/CategoryNavBarStyle.ts
  client/src/components/CategoryNavBar/index.ts
  client/src/components/Header/HeaderStyle.ts
  client/src/pages/index.tsx
  client/src/styles/GlobalStyle.tsx
Labels: client, component

#122 Fix/118,119/card details
  client/src/components/BigCard/BigCardStyle.ts
  client/src/components/Card/Card.tsx
  client/src/components/CardContent/CardContent.tsx
  client/src/components/CardContent/CardContentStyle.ts
  client/src/components/HorizontalSlider/HorizontalSlider.tsx
  client/src/components/SixCardsContainer/SixCardsContainer.tsx
  client/src/components/TenCardsContainer/TenCardsContainer.tsx
  client/src/pages/product/ProductStyle.tsx
  client/src/pages/product/[id].tsx
Labels: bug, client, component

#126 Feat/125/product detail page
  client/src/components/BigCardContent/BigCardContentStyle.ts
  client/src/components/BigCardImg/BigCardImgStyle.ts
  client/src/components/ProductDetail/ProductDetail.tsx
  client/src/components/ProductDetail/ProductDetailStyle.ts
  client/src/components/ProductDetail/index.ts
  client/src/pages/index.tsx
  client/src/pages/product/[id].tsx
Labels: client, component

#127 Feat/113/order page
  client/src/api/order.ts
  client/src/components/OrderMap/OrderMap.tsx
  client/src/components/OrderMapMarker/OrderMapMarker.tsx
  client/src/components/OrderMapMarker/OrderMapMarkerStyle.ts
  client/src/components/OrderedProducts/OrderedProducts.tsx
  client/src/components/OrderedProducts/OrderedProductsStyle.ts
  client/src/components/OrderedProducts/index.ts
  client/src/context/MapContext.tsx
  client/src/context/index.tsx
  client/src/hooks/useMap.tsx
  client/src/pages/_app.tsx
  client/src/pages/_document.tsx
  client/src/pages/admin/[id].tsx
  client/src/pages/admin/index.tsx
  client/src/pages/index.tsx
  client/src/pages/order/[id].tsx
  client/src/pages/order/index.tsx
  client/src/utils/socket.ts
  server/src/repository/order-repository.ts
  server/src/routes/order-routes.ts
  server/src/service/order-service.ts
  server/src/socket.ts
  shared/order.ts
Labels: client, component

#130 Fix/carrier/bug fix
  client/src/components/Card/CardStyle.ts
  client/src/components/CardContent/CardContentStyle.ts
  client/src/components/CategoryContainer/CategoryContainerStyle.ts
  client/src/components/FourCardsContainer/FourCardsContainer.tsx
  client/src/components/FourCardsContainer/FourCardsContainerStyle.ts
  client/src/components/HorizontalBar/HorizontalBar.tsx
  client/src/components/HorizontalBar/HorizontalBarStyle.ts
  client/src/components/SixCardsContainer/SixCardsContainer.tsx
  client/src/components/TenCardsContainer/TenCardsContainer.tsx
  client/src/pages/index.tsx
Labels: bug, client, component
